
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: gainsboro;
    width: 100%;
    height: 75px;
    text-align:center ;
    border-style: ridge;
}
.logo{
    width: 150px;
    height: 75px;
    float:left;
    margin-left: 15px;
    }
.bar{
        list-style: none;
        display:inline-block;
        margin-top:20px;
    }
.link{
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding: 7px;
}
.repara{
    width:100%;
    height: auto;
}

.barra2 {
    background-color: gainsboro;
    width: 100%;
    height: 50px;
    margin-top: 2px;
}

.textbarra {
    display: flex;
    padding: 10px;
    padding-top: 5px;
    margin-top: 1px;
    font-size: 18px;
    font-weight: bold
}

        /*menu de ofertas y productos*/
.ofertasproductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "ofertas" 
    "productos"

}

.ofertas{
    display: flex;
    justify-content: center;
    font-size: 38px ;
    text-transform:unset;
    background-color:rgb(153, 198, 237);
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: bold;
    border: none;
}
.ofertac{
    display: grid;
    grid-template-columns: 98%;
    grid-template-rows: 1fr 1fr;
    background-position: center;
    margin: 5px;
}

.ofertai{
    width:100%;
    height: auto;
    padding-left:4% ;
}

.productos{
    display: flex;
    justify-content: center;
    font-size: 38px ;
    text-transform:unset;
    background-color:rgb(153, 198, 237);
    margin-top: 25px;
    margin-bottom: 1px;
    font-weight: bold;
    border: none;
}
.producto1{
    padding: 4px;
    margin-top: 15px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.producto2{
    padding: 4px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/*termina ofertas y productos- comienza footer*/

footer{
    width: 100%;
    background-color: gainsboro;
    text-align: center;
    text-align: center;
    font-size: 20px;
}
.redes{
        font-size: 50px;
}
.fa-brands{
    padding: 1px;
    text-align: center;
}
.escribenos{
    text-align: end;
    padding-right: 20px;
    font-size: 15px;
}
.whatsapp{
    text-align:end;
    font-size: 40px;
    padding:5px;
    padding-right: 50px;
}
.textfooter{
    padding-bottom: 5px;
    text-align: center;
}
 /*comienza main de nosotros*/
.nosotros{
    display: flex;
    font-size: 30px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: rgb(187, 8, 8);
}
.nosotro{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 350px 350px 1fr 1fr;
}
.introduccion{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.introduccion2{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.laboratorio{
    background-position: center;
    background-size: cover;
    width: 95%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 5px;
}
.conector{
    background-position: center;
    background-size: cover;
    width: 95%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 5px;
}
.nost{
    font-size: 40px;
    text-align: center;
}

/*Comienza main de producto*/
.submenu{
    height: auto;
    border: 2px solid gray;
    margin: 5px;
}
.categoria{
    display: inline-block;
    padding: 10px;
    border-right: 1px solid;
    margin-left: 10px;
    font-size: 18px;
}

.galeri{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 1fr);

}
.galeria{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.galeria-image{
    width: 100%;
    padding: 15px;
}

/*comienza main de contacto*/
.formulario {
    border: 2px solid;
    width: 1000px;
    height: 600px;
    margin: 30px;
}
.tform {
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
.bloquea {
    display: inline-block;

}
.bloqueb { 
    text-align: right;

}
.bloque1 {
    margin-left: 50px;
    margin-top: 10px;
}
.bloque2 {
    margin-left: 50px;
    margin-top: 10px;
}


@media screen and (max-width:600px)
{
    .barra1{
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
    }
    .link{
        font-size: 15px;
    }
    header{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:680px) {
    .link{
        font-size: 20px;
    }
}

@media screen and (min-width: 670px)
{
.ofertac{
    display: flex;
}  
}

@media screen and (min-width:680px) 
{ 
    .nosotroscaja{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .n{
        display: grid;
        margin: 5px;
    }
    .introduccion{
        margin: 20px;
        padding-left: 20px;
        height: 200px;
        overflow: auto;
    }
    .introduccion2{
        font-size: 22px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .imagenes-reparacion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .conector{
        margin: 10px;
        padding: 10px;
    }
}
@media screen and (min-width:950px) {
    .introduccion{
        font-size: 20px;
        margin: 20px;
        padding-left: 20px;
        height: 250px;
    }
    .introduccion2{
        font-size: 28px;
        padding-right: 30px;
        padding-left: 40px;
    }
}

@media screen and (max-width:400px)
{
    .categoria{
        display:flex;
        font-size: 15px;
        border: 1px solid;
    }
}

@media screen and (min-width:600px) 
{
    .galeri{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (min-width:1000px)
{
    .galeri{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}